<div class="container">
  <div class="post-comments all-comments-show-hide">
    <div class="media-heading">
      <span><button class="btn btn-default btn-xs btn-background blue show-comment" id="comment<%= comment.id%>" type="button" ></button> </span>
      <span class="label label-info"><%= comment.user.name %></span> posted <%=time_ago_in_words(comment.created_at)%> ago
    </div>
    <div class="media">
      <% liked = Like.find_by( likeable_type: "Comment", likeable_id: comment.id, user: current_user ) %>
      <div class="comment text align" data-id="comment<%= comment.id %>">
        <%= comment.body %>

        <div class="<%= ' like disappear' if comment.likes.count == 0 %> tooltip like-tooltip tooltip-position" id="like-icon<%=comment.id%>"> <i class="fa fa-thumbs-up" aria-hidden="true">  <div class="inline div-inline" id="like-comment-count<%=comment.id%>"><%= comment.likes.count %></div></i>
          <% comment.likes.each do |like| %>
            <span class=" tooltiptext like-tooltip tooltip-position"><%= like.user.name %></span>
          <% end %>
        </div>

        <div class="comment-meta" data-comment-id="<%= comment.id %>">
          <span><%= link_to "Like",  like_post_path(id: comment.id,like: { likeable_type: "Comment", likeable_id: comment.id }), method: :post, class: "#{ 'color-blue color-toggle a' if liked != nil } show-comment like ", id:"like-comment-#{comment.id}", totalLikes: "#{ comment.likes.count }", remote: true %></span>
          <% if current_user && current_user == comment.user %>
            <span><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete_comment show-comment" %></span>
          <% end %>
          <% reported = Report.find_by( reportable_type: "Comment", reportable_id: comment.id, user: current_user ) %>
          <span><%= link_to "Report", report_home_path( id: comment.id, report: { reportable_type: "Comment", reportable_id: comment.id }), method: :post, class: "#{ 'color-blue color-toggle a' if reported != nil } show-comment like", id:"report-comment-#{comment.id}", remote: true %></span>
          <span><a class="show-comment cursor" role="button" id="commentreply<%= comment.id%>" >Reply</a></span>
          <div class="collapse form-group shadow-textarea comment " data-id="commentreply<%= comment.id %>">
            <%= render partial: "posts/form_newcomment", locals: { commentable: comment, commentable_type: "Comment" } %>
          </div>
          <div class="row">
            <% if comment.replies.present?%>
              <%= render comment.replies%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
