<div class="container">
  <div class="post-comments all-comments-show-hide">
    <div class="media-heading">
      <span><button class="btn btn-default btn-xs btn-background blue show-comment" id="comment<%= comment.id%>" type="button" ></button> </span>
      <span class="label label-info"><%= comment.user.name %></span> posted <%=time_ago_in_words(comment.created_at)%> ago
    </div>
    <div class="media">
      <div class="comment" data-id="comment<%= comment.id %>">
        <%= comment.body %>
        <% if comment.likes.count > 0 %>
          <div> <i class="fa fa-thumbs-up" aria-hidden="true">  <%= comment.likes.count %></i></div>
        <% end %>
        <div class="comment-meta" data-comment-id="<%= comment.id %>">
          <% if liked = Like.find_by( likeable_type: "Comment", likeable_id: comment.id, user: current_user ) != nil %>
            <span><%= link_to "Like", like_post_and_comment_home_path({ id: comment.id, likeable_type: "Comment", likeable_id: comment.id }), method: :post, class: " show-comment like color-blue color-toggle a", id:"like-comment-#{comment.id}", remote: true %></span>
          <% else %>
            <span><%= link_to "Like", like_post_and_comment_home_path({ id: comment.id, likeable_type: "Comment", likeable_id: comment.id }), method: :post, class: " show-comment like", id:"like-comment-#{comment.id}", remote: true %></span>
          <% end %>
          <% if current_user && current_user == comment.user %>
            <span><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete_comment show-comment" %></span>
          <% end %>

          <span><a class="show-comment cursor" role="button" id="commentreply<%= comment.id%>" >Reply</a></span>
          <div class="collapse form-group shadow-textarea comment " data-id="commentreply<%= comment.id %>">
            <%= render partial: "posts/form_newcomment", locals: { commentable: comment, commentable_type: "Comment" } %>
          </div>
          <div class="row">
            <% if comment.replies.present?%>
              <%= render comment.replies%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

