<div class="container posts-container">
	<div class="d-flex justify-content-center h-100">
		<div class="card background posts wall">
			<div class="card-body">
					<div class="row" id="new-post"><%= render template: "posts/new" %></div>
					<div class="row ">
						<div class=" col-md-6 text-center ">
							<%= button_to 'New Post' , new_post_path, method: :get, class: "my-2 button font font-12 btn btn-background blue" %>
						</div>
						<div class=" col-md-6 text-center ">
							<%= button_to 'Your Posts' , posts_path, method: :get, class: "my-2 button font font-12 btn btn-background blue" %>
						</div>
					</div>
					<div class="row" id="posts">
						<% if @posts.present? %>
							<%= render partial: "posts/post", collection:  @posts%>
						<% else %>
							<p> No Posts Available </p>
						<% end %>
					</div>
				<div id="infinite-scrolling">
					<%= will_paginate @posts %>
				</div>
			</div>
		</div>
	</div>
</div>
