<%= @result.response%>
<p>-------------------------------</p>
<%= @result.aggs%>
<p>-------------------------------</p>
<%= @result.took%>
<p>-------------------------------</p>
<% @result.each do |u| %>
  <%=  u.text%>
  <%=  u.user_id%>
<p>-------------------------------</p>
<% end %>
<p>-------------------------------</p>
<p>---------USER-------------</p>
<p>-------------------------------</p>
<%= @user.response%>
<p>-------------------------------</p>
<p>-------------------------------</p>
<% @user.each do |u| %>
  <%=  u.name%>
  <%=  u.email%>
<p>-------------------------------</p>
<% end %>

