<div class="row my-3">
  <div class=" col-md-9">
    <div class="row">
      <div class=" col-md-3"><%= friend.name%></div>
      <div class=" col-md-7"><%= friend.email%></div>
      <div class=" col-md-2"><%= friend.id%></div>
    </div>
  </div>
  <div class=" col-md-3">
    <%= button_to 'Unfriend', unfriend_friendship_path(friend), method: :post, class: "btn float-left  btn-background blue font font-12", data: { confirm: 'Are you sure?' }  if is_friend%>
    <%= button_to 'Cancel Request', cancel_request_friendship_path(friend), method: :post, class: "btn float-left  btn-background blue font font-12", data: { confirm: 'Are you sure?' }  unless is_friend %>
  </div>
</div>
