<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>id</th>
  </tr>

  <tr>
    <td><%= friend.name%></td>
    <td><%= friend.email%></td>
    <td><%= friend.id%></td>
    <td><%= link_to 'Unfriend', unfriend_friendship_path(friend), method: :post, data: { confirm: 'Are you sure?' }  if is_friend == true %></td>
    <td><%= link_to 'Cancel Request', cancel_request_friendship_path(friend), method: :post, data: { confirm: 'Are you sure?' }  if is_friend == false %></td>
  </tr>
</table>
<hr/>
