<h1>You can send a Friend Request</h1>
<%= paginate @users %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= button_to 'Add as Friend' , friendships_path(friend_id: user.id), method: :post %></td>
    </tr>
  <% end %>
</table>
<%= paginate @users %>
