<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card background friends">
      <div class="card-header">
				<h3>You can send a Friend Request</h3>
        <%= will_paginate @users %>
        <div class="row form-group">
          <div class=" col-md-9">
            <div class="row">
              <div class=" col-sm-4 "> Name</div>
              <div class=" col-sm-7 "> Email</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <% @users.each do |user| %>
            <div class=" col-md-9">
              <div class="row">
                <div class=" col-md-4"><%= user.name%></div>
                <div class=" col-md-8"><%= user.email%></div>
              </div>
            </div>
            <div class=" col-md-3 form-group">
              <%= button_to 'Add as Friend' , friendships_path(friend_id: user.id), method: :post, class: "font font-12 buttonhome btn float-left btnbackground blue" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-footer">
				<%= will_paginate @users %>
			</div>
    </div>
  </div>
</div>
